.products-page{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  max-width: 1400px;
}

.stars{
  color: #fed700 !important;
  font-size: 20px;
}

a{
  text-decoration: none !important;
  list-style: none !important;
  color: #000 !important;
}

.teacher{
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacher .teacher-img{
  border-radius: 50%;
  width: 40px;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff !important;
}
