@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?enk7t');
  src:  url('fonts/icomoon.eot?enk7t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?enk7t') format('truetype'),
    url('fonts/icomoon.woff?enk7t') format('woff'),
    url('fonts/icomoon.svg?enk7t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e90f";
}
.icon-cart:before {
  content: "\e902";
}
.icon-bookmark-void:before {
  content: "\e900";
}
.icon-bookmark-full:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-star-full:before {
  content: "\e907";
}
.icon-star-half:before {
  content: "\e908";
}
.icon-star-void:before {
  content: "\e909";
}
.icon-heart-full:before {
  content: "\e90b";
}
.icon-heart-void:before {
  content: "\e90c";
}
.icon-menu1:before {
  content: "\e90e";
}
.icon-gift:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e912";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-paypal:before {
  content: "\ead8";
}
